<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<appSettings>
		<add key="Debug" value="False" />
		<add key="UseProxy" value="False" />
		<add key="ProxyHost" value="" />
		<add key="ProxyUser" value="" />
		<add key="ProxyPassword" value="" />
		<add key="ProxyDomain" value="" />
		<add key="GatewayHost" value="https://ap-gateway.mastercard.com" />
		<add key="Version" value="34"/>
		<add key="UseSSL" value="True" />
		<add key="MerchantId" value="TESTBEINTRACK" />
		<add key="Username" value="merchant.TESTBEINTRACK"/>
		<add key="Password" value="B258369k" />
		<add key="IgnoreSslErrors" value="False" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>