@page
@model Memories.Areas.Admin.Pages.repportmanagement.FaildPaymentsModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Admin/assets/css/slim.css">
    <title></title>
</head>
<body>
    <div class="container">
    <div class="slim-mainpanel p-4">
        <div class="container">
            <div class="slim-pageheader">

            </div><!-- slim-pageheader -->
            <div class="row row-sm row-timeline">
                <div class="col-lg-3 p-3 mg-lg-t-0">
                    <div class="card pd-20 mg-t-40">
                        <label class="slim-card-title">@sharedResource["Filter"]</label>
                        <div class="post-group">

                            @*@using (Html.BeginForm(FormMethod.Post))
                                        @(Html.DevExtreme().Form<Coach.ReportsModel.FilterModel>
                                ()
                                .FormData(Model.filterModel)
                                .LabelMode(FormLabelMode.Outside)
                                .LabelLocation(FormLabelLocation.Top)
                                .Items(items => {
                                items.AddSimpleFor(m => m.From).Label(l => l.Text(sharedResource["From"]));
                                items.AddSimpleFor(m => m.To).Label(l => l.Text(sharedResource["To"]));




                                items.AddButton()
                                .HorizontalAlignment(HorizontalAlignment.Left)
                                .ButtonOptions(b => b.Text(sharedResource["Submit"])
                                .Type(ButtonType.Success)
                                .UseSubmitBehavior(true)
                                );
                                })
                                )*@




                        </div><!-- post-group -->
                    </div><!-- card -->
                </div>

                <div class="col-lg-9">

                    <div class="card pd-30">
                        <div class="timeline-group">
                            @using Memories.Reports

                            <link rel="stylesheet" href="~/css/viewer.part.bundle.css" />

                            <script src="~/js/viewer.part.bundle.js"></script>

                            @Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("1000px").Bind(Model.Report)
                        </div><!-- timeline-group -->
                    </div><!-- card -->

                </div>
            </div>
        </div>
    </div>  
</div>
</body>
</html>
                <!-- col-3 -->
