@page
@model Memories.Pages.nbkcheckoutModel
@{
    Layout = null;
}

<div class="alert alert-dismissible alert-success" style="display:none" id="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>@sharedResource["URL Copied"] !</strong> .
</div>





<script src="https://nbkpayment.gateway.mastercard.com/static/checkout/checkout.min.js"
      data-error="errorCallback" data-cancel="cancelCallback"
        @*data-complete= "completeCallback"*@></script>
<script type="text/javascript">
        var session = "@Model.session.id";

                function errorCallback(error) {
                  console.log(JSON.stringify(error));
            }
            function cancelCallback() {
                  console.log('Payment cancelled');
            }

    Checkout.configure({
                session: {
                    id: session
                },
                 interaction: {
            operation: "PURCHASE",

                     merchant: {
                         name: 'Memories',
                         address: {
                             line1: 'kuwait',
                             line2: 'kuwait'
                         }
                     },
                      displayControl: {
                          billingAddress: 'HIDE',
                         shipping: 'HIDE'
                     }
                },
            });
        Checkout.showPaymentPage();


</script>
